html , body{
  height: 100%;
  width: 100%;
}
#home{
  background: url(img/bg.png) no-repeat center center fixed;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h1{
  font-size: 500%;
  font-weight: 700;
}
.padding{
  padding: 80px 0;
}
.fa{
  width: 60px;
  height: 60px;
}
